@import '../../global.scss';

.container-step {
  width: 170px;
  height: 33px; 
  display: flex;
  margin-left: 32px;
  margin-bottom: 32px;

  cursor: pointer;
  
  .step-ball {
    width: 33px;
    height: 33px;
    border: 1px solid $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    p {
      color: $white ;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
    }

    &:active {
      background: $sky-blue;

      p {
        color: $denin;
      }
    }


    &.selected {
      background: $sky-blue;

      p {
        color: $denin;
      }
    }
    
  }

  .step1 {
    width: 120px;
    height: 33px;
    margin-left: 16px;

    p {
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: $light-blue;
    }

    strong {
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      letter-spacing: 1px;
      color: $white;
    }
  }
}