@import "../../global.scss";

@media (min-width: 320px) and (max-width: 960px) {
  .mobile-menu-bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 172px;
    background-image: url("../../assets/images/bg-sidebar-mobile.svg");
    background-size: cover;
  }
}

@media (min-width: 320px) and (max-width: 960px) {
  .mobile-menu-step-ball {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    .step-ball {
      &.selected {
        background: $sky-blue;

        p {
          color: $denin;
        }
      }
    }
  }
}

@media (min-width: 961px) {
  .mobile-menu-bg-image {
    display: none;
  }
  @media (min-width: 961px) {
    .mobile-menu-step-ball {
      display: none;
    }
  }
}
