@import "../../../global.scss";

.box-container {
  @include box-form-container;
}

.thanks-box {
  width: 450px;
  height: 238px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 125px;

  @media (min-width: 320px) and (max-width: 960px) {
    max-width: 960px;
    width: 100%;
    height: 400px;
    margin: 0;
  }

  svg {
    background: url(../../../assets/icons/icon-thank-you.svg) no-repeat;
    width: 80px;
    height: 80px;
    margin-bottom: 22px;

    @media (min-width: 320px) and (max-width: 960px) {
      width: 30%;
      height: 30%;
      margin: 0;

      rect {
        width: 56px;
        height: 56px;
      }
    }
  }

  span {
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    color: $denin;
    margin: 0 0 24px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: $grey;
    text-align: center;

    @media (min-width: 320px) and (max-width: 960px) {
      margin: 0;
    }
  }
}
