@import '../../../global.scss';

.add-ons-options {
  width: 450px;
  height: 275px;
  margin-top: 40px;

  .option {
    width: 450px;
    height: 81px;
    border: 1px solid $purple;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;


   }
  }
