@import "../../../global";

@mixin form-box {
  width: 450px;
  height: 72px;
  margin-top: 24px;

  @media (min-width: 320px) and (max-width: 960px) {
    margin-top: 10px;
  }
}

@mixin form-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $denin;

  @media (min-width: 320px) and (max-width: 960px) {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 3px;
  }
}

@mixin form-input {
  width: 450px;
  height: 48px;
  border: 1px solid $border-color;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: $denin;

  padding-left: 16px;

  cursor: pointer;

  @media (min-width: 320px) and (max-width: 960px) {
    font-size: 15px;
    line-height: 17px;
    border-radius: 4px;
  }
}

.box-container {
  @include box-form-container;
}

.personalInfo-container {
  @media (min-width: 320px) and (max-width: 960px) {
    margin: 0;
  }
  .error-message {
    display: none;
  }

  .form-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .error {
    input {
      border: 1px solid $red-errors !important;
    }
    .error-message {
      display: inline;
      color: $red-errors;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
    }
  }

  .title-info {
    @include title-style;
    margin-bottom: 40px;
  }

  .label-box {
    @include form-box;

    @media (min-width: 320px) and (max-width: 960px) {
      max-width: 960px;
      width: 100%;
    }

    label {
      @include form-label;
    }

    input {
      @include form-input;

      @media (min-width: 320px) and (max-width: 960px) {
        width: 100%;
      }

      &:hover,
      &:focus {
        border-color: $purple;
      }
    }
  }

  button {
    width: 123px;
    height: 48px;
    background: $denin;
    border-radius: 8px;
    border: none;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: $white;

    margin-top: 92px;
    float: right;

    cursor: pointer;

    @media (min-width: 320px) and (max-width: 960px) {
      // margin-top: 45%;
      width: 35%;
      border-radius: 4px;
    }

    &:hover {
      background: $next-btn-hover;
    }
  }
}
