@import '../../../global';

@mixin form-box {
  width: 450px;
  height: 72px;
  margin-top: 24px;
}

@mixin form-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $denin;
}

@mixin form-input {
  width: 450px;
  height: 48px;
  border: 1px solid $border-color;
  border-radius: 8px;
  
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: $grey;
  
  padding-left: 16px; 
  
  cursor: pointer;
}

.personalInfo-container {
  width: 450px;
  height: 372px;

  .title-info {
    width: 450px;
    height: 68px;
    margin-bottom: 40px;

    h1 {
      font-size: 32px;
      font-weight: 700;
      line-height: 37px;
      color: $denin;
    }
    
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      color: $grey;
    }
  }

  .name-box {
    @include form-box;

    label {
      @include form-label;
    }

    input {
      @include form-input;

    }
  }
  .email-box {
    @include form-box;

    label {
      @include form-label;
    }

    input {
      @include form-input;

    }
  }
  .phone-box {
    @include form-box;

    label {
      @include form-label;
    }

    input {
      @include form-input;
    }
  }

  button {
    width: 123px;
    height: 48px;
    background: $denin;
    border-radius: 8px;
    border: none;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: $white;

    margin-top: 92px;
    float: right;

    cursor: pointer;

  }

}