@import '../global.scss';

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-box {
    width: 940px;
    height: 600px;

    background: $white;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px #00000040);

    .menu-box {
      width: 274px;
      height: 568px;
      background: url(../assets/images/bg-sidebar-desktop.svg) no-repeat;
      margin: 16px;
      padding-top: 40px;

      
    }

  }

}