
$background-desktop: #f2f2f2;
$white: #fff;
$border-color: #d6d9e6;
$purple: #483eff;

$very-light-grey: #f8f9ff;
$grey: #9699AA;
$denin: #022959;
$sky-blue: #bee2fd;
$light-blue: #abbcff;
$confirm-hover: #928cff;

$red-errors: #ee374a;

@mixin title-style {
  width: 450px;
  height: 68px;

  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    color: $denin;
  }
  
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: $grey;
  }

}

@mixin box-form-container {
  width: 940px;
  height: 600px;
  display: flex;
  justify-content: space-between;

  background: $white;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px #00000040);

  .form-container {
    width: 450px;
    height: 372px;
    margin-top: 56px;
    margin-right: 100px;
    

  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

body {
  font-family: Ubuntu, sans-serif;
  background: $background-desktop;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }

}

